
.n1{
    text-decoration: none;
    display: block;
    color: coral;
    font-size: 30px;
}
.n2{
     text-decoration: none;
    display: block;
    color: green;
    font-size: 30px;
}
.n2:hover{
    background-color: blue;
    color: white;
      cursor: grab;
      text-transform: uppercase;
} 
.n3{
     text-decoration: none;
    display: block;
    color: blue;
    font-size: 30px;
}
.n3:visited{
color: #000;}
