@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* conteiner */
.conteiner{
    width: 50%;
    margin: 0 auto;
    border: 3px solid black;
}
@media(max-width:768px){.conteiner{
    width: 100%;
    justify-content: center;

}
    
}
/* head */
h1{
    font-family: "Galada", cursive;
    letter-spacing: 2px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}
.menu{
    border-right: 2px solid black;
    float: left;
    width: 250px;
    padding: 20px;
    position: fixed;
    
}
.menu ul{
    list-style: none;
    
}
.nav-link{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    font-family: "Cal Sans", sans-serif;
    color: gray;
    display: block;
    
}
.nav-link:hover{
    border-bottom: 2px solid rgb(221, 197, 130);
    color: black;
}


/* image entrada  */
.img1{
    display: block;
    float:right;
    margin: -60px  0 0;
}

#entradas::after{
    clear: both;
}
@media(max-width: 768px){
    .img1{
        float: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        width: 100%;
    }
}
/* cardapio2  */
#pratos-principais h2{
    padding: 5px;
    font-family: "Oswald", sans-serif;

}

.img2{
    display: block;
    float:right;
    margin: 10px  0 10px;
}
@media(max-width: 768px){
    .img2{
        float: none;
        display: block;
        margin: 20px auto;
        text-align: center;
    }
}
/* cardapio3 */
#sobremesas h2{
    padding: 5px;
        font-family: "Oswald", sans-serif;

}
.cardapio3::after{
    clear: both;
}
.img3{
    display: block;
    float:right;
    margin: 0px  0 20px;
}
@media(max-width: 768px){
    .img3{
        float: none;
        display: block;
        margin: 20px auto;
        text-align: center;
    }
}

/* cardapio 4 */
#sorvetes h2{
    padding: 5px;
        font-family: "Oswald", sans-serif;
        

}
.cardapio4::after{
    clear: both;
}
.img4{
    display: block;
    float:right;
    margin: 0  0 20px;
    max-width: min-content;
}
@media(max-width: 768px){
    .img4{
        float: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        max-width: min-content;
        height: fit-content;
    }
}
/* cardapio 5 */
#bebidas h2{
    padding: 5px;
        font-family: "Oswald", sans-serif;
        

}
.cardapio5::after{
    clear: both;
}
.img4{
    display: block;
    float:right;
    margin: 0  0 20px;
    max-width: min-content;
}
@media(max-width: 768px){
    .img4{
        float: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        max-width: min-content;
        height: fit-content;
    }
}
/* cardapio 6 */
#vinhos h2{
    padding: 5px;
        font-family: "Oswald", sans-serif;
        

}
.cardapio6::after{
    clear: both;
}
.img4{
    display: block;
    float:right;
    margin: 0  0 20px;
    max-width: min-content;
}
@media(max-width: 768px){
    .img4{
        float: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        max-width: min-content;
        height: fit-content;
    }
}




/* cardápios  */
.cardapio1, .cardapio2, .cardapio3,.cardapio4,.cardapio5,.cardapio6{
    margin-left: 250px;
    padding: 20px;
    display: block;
    margin-top: 20px;
}

#entradas h2{
    padding: 5px;
      font-family: "Oswald", sans-serif;

}
.cardapio1::after,
.cardapio2::after,
.cardapio3::after,
.cardapio4::after{
content: "";
display: table;
clear: both;
}
/* imagens */
.img1,.img2,.img3{
    float: right;
    margin: 10px;
    max-width: 300px;
    height: auto;
}
.img4{
    float: right;
    margin: 10px;
    
}


/* rodapé */

.brand{
    background-color: #D8D8D8;
    border: 2px solid black;
    padding: 10px;
}
.brand img{
    height: 170px;
    padding: 5px;
    margin: 5px;
}
.contact {
    padding: 20px;
float: right;
margin-right: 15px;
padding-bottom: 30px;
color: black;

}
.contact h2{
    font-family: "Oswald", sans-serif;
    padding: 10px;
     text-align: center;
}
.contact ul{
    list-style: none;
    text-decoration: none;
    padding: 10px;
}
.contact a{
    text-decoration: none;
    margin: 2px;
    color: black;
    font-weight: bold;


}
