*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
     background-color: #c7c7c7;
     padding: 16px 0;
     color: #222;
}
a{
    text-decoration: none;
    color: #545454;
}
ul{
    list-style: none;

}

.conteiner{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0 ,0,0.3 ) ;
}
/* Cabeçalho */
.head{
    margin: 0 48px;
    padding-top: 32px;
    margin-bottom: 32px ;
    border-bottom: 2px solid #ccc;
}
.head h1{
    font-size: 33.6px;
    margin-bottom: 16px;
}
/* Menu lateral */
.left-menu{
    display: inline-block;
    width: 25%;
    vertical-align: top;
    padding-left: 48px;
    font-size: 16px;
}
.left-menu ul li{
 margin-bottom: 24px;
}
.left-menu ul li a{
    display: inline-block;
}
/* Efeito de Sublinhado ao passar o mouse */
.left-menu ul li a::after{
    content:"";
    width: 0;
    display: block;
    height: 2px;
    background-color: #ccc;
    transition: width 0.3s case;
}
.left-menu ul li a:hover{
    color: #222;
    font-weight: bold;
}
.left-menu ul li a:hover::after{
    background-color: #222;
    width: 100%;
} 
/* Conteúdo Principal */
.content{
   
   display: inline-block;
   width: 70%;
   height: 65vh;
   vertical-align: top;
   padding-right: 48px;
   border-left: 2px solid #ccc;
   overflow-y: auto;
   margin-bottom: 32px;
}
.content img{
    max-width: 220px;
    margin-left: 15px;
    float: right;
    box-shadow: 0 0 5px rgba(0, 0 ,0,0.3 );

     
} 
.content h3{
    font-size: 17.8px;
    padding: 0 0 16px 16px;
}
.content .item{
   padding: 16px 32px;
   text-align: justify;
}
.content .item h4{
    margin-bottom: 10px;
}
/* Rodapé */
.end{
  background-color: #d3d3d3;
  height: 15%; 
  padding: 16px 48px; 
}
.end img{
    display: block;
    margin: auto;
    max-width: 200px;
    float: left;
}
.end ul{
    margin:  auto;
    list-style:none;
    float: right; 
}
.end ul li{
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 8px #0000003e ;
    cursor: pointer;
    margin-bottom: 4.8px;
}